# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
*/*/*/.vscode
./script.sh
*.json
*.exe
KTM nadya.pdf
SK RULLY SOELAIMAN.pdf
surat mahasiswa vania.pdf
surat mahasiswa nadya.pdf
